###############################################################################
# attribute       # Checkin behavior # Checkout behavior
###############################################################################
# text            # Normalized to LF # Convert to native line endings
# [text] eol=crlf # Normalized to LF # Convert to CRLF
# [text] eol=lf   # Normalized to LF # Convert to LF
# -text or binary # No conversion    # No conversion
# text=auto       # Like "text" if text file according to git, otherwise, like "binary"
# unspecified     # Fall back to core.autocrlf setting of local environment
###############################################################################
# core.autocrlf
#   false: same as binary
#   true:  same as eol=crlf
#   input: same as eol=lf

###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=lf

###############################################################################
# SOURCE CODE
###############################################################################
*.aspx     text
*.asax     text
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.coffee   text
*.cs       text diff=csharp
*.cshtml   text diff=html
*.css      text
*.htm      text
*.html     text diff=html
*.inc      text
*.ini      text
*.js       text
*.json     text
*.jsx      text
*.less     text
*.od       text
*.onlydata text
*.ps1      text
*.php      text
*.pl       text
*.py       text
*.rb       text
*.rst      text
*.sass     text
*.scm      text
*.scss     text
*.sh       text eol=lf
*.sln      text
*.sql      text
*.styl     text
*.tag      text
*.ts       text
*.tsx      text
*.tt       text
*.txt      text
*.xaml     text
*.xml      text
*.xhtml    text
*.*proj    text

###############################################################################
# DOCKER
###############################################################################
*.dockerignore    text
Dockerfile    text eol=lf

###############################################################################
# DOCUMENTATION
###############################################################################
*.markdown   text
*.md         text
*.mdwn       text
*.mdown      text
*.mkd        text
*.mkdn       text
*.mdtxt      text
*.mdtext     text
*.txt        text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
COPYING      text
copyright    text
*COPYRIGHT*  text
INSTALL      text
license      text
LICENSE      text
NEWS         text
readme       text
*README*     text
TODO         text

###############################################################################
# TEMPLATES
###############################################################################
*.dot        text
*.ejs        text
*.haml       text
*.handlebars text
*.hbs        text
*.hbt        text
*.jade       text
*.latte      text
*.mustache   text
*.njk        text
*.phtml      text
*.tmpl       text
*.tpl        text
*.twig       text

###############################################################################
# LINTERS
###############################################################################
.csslintrc    text
.eslintrc     text
.htmlhintrc   text
.jscsrc       text
.jshintrc     text
.jshintignore text
.stylelintrc  text

###############################################################################
# CONFIGS
###############################################################################
*.bowerrc      text
*.cnf          text
*.conf         text
*.config       text
.browserslistrc text
.editorconfig  text
.gitattributes text
.gitconfig     text
.htaccess      text
*.npmignore    text
*.yaml         text
*.yml          text
browserslist   text
Makefile       text
makefile       text

###############################################################################
# HEROKU
###############################################################################
Procfile    text
.slugignore text

###############################################################################
# GRAPHICS
###############################################################################
*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpg  binary
*.jpeg binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

###############################################################################
# AUDIO
###############################################################################
*.kar  binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mp3  binary
*.ogg  binary
*.ra   binary

###############################################################################
# VIDEO
###############################################################################
*.3gpp binary
*.3gp  binary
*.as   binary
*.asf  binary
*.asx  binary
*.fla  binary
*.flv  binary
*.m4v  binary
*.mng  binary
*.mov  binary
*.mp4  binary
*.mpeg binary
*.mpg  binary
*.ogv  binary
*.swc  binary
*.swf  binary
*.webm binary

###############################################################################
# ARCHIVES
###############################################################################
*.7z  binary
*.gz  binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

###############################################################################
# FONTS
###############################################################################
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary

###############################################################################
# EXECUTABLES
###############################################################################
*.exe binary
*.pyc binary

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# diff behavior for common document formats
#
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain